/*菜单*/
.el-menu-vertical{
	width: 240px
}
.el-menu-item.is-active{
	border-right: solid 2px;
}
/*过度效果*/
.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-enter,.slide-right-leave-active {
  transform: translateX(500px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all .3s ease;
}
.slide-right-enter,  .slide-left-leave-active {
  transform: translateX(-500px);
  opacity: 0;
}